<% layout("/layouts/boilerplate") %>

<div class="row ">
    <div class="col-12 order-2 col-md-6 order-md-1 ">
        <br>
        <h3 class="mb-5">Confirm and pay</h3>
        <form method="post" action="/listings/<%= listing._id %>/calculate" novalidate class="needs-validation" >
            <h5>Your trip</h5>
            <div class="mb-3">
                <lable for="startDate" class="form-label">Check In Date</lable>
                <input  name="reserve[startDate]" placeholder="Add a catcchy title" type="date" class="form-control" required>
                <div class="valid-feedback">Tital looks good </div>
            </div>

            <div class="mb-3">
                <lable for="endDate" class="form-label">Check Out Date</lable>
                <input name="reserve[endDate]" placeholder="Add a catcchy title" type="date" class="form-control" required>
                <div class="valid-feedback">Tital looks good </div>
            </div>
            
            <button class="btn btn-dark add-btn mt-3">Calculate Price</button>
            <br><br>
        </form>
    </div>
    
    <div class="col-12 order-1 col-md-6 order-md-2 p-3">
        <a href="/listings/<%=listing._id%>" class="listing-link container">
            <div class="card listing-card">
                <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                <div class="card-img-overlay review-img">
                    
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <div class="img-title">
                            
                                <div><h6><%= listing.location %>, <%= listing.country%></h6></div> 
                                <div class="end <%= listing.reviews.length == 0 ? "d-none" : "" %>">
                                    <h6><i class="fa-solid fa-star"></i> <%= listing.reviews.reduce((acc, obj) => acc + obj.rating, 0) / listing.reviews.length %></h6>
                                </div> <br>
                        </div>
                        <i class="non-tax-info"><b>&#8377; <%= listing.price ? (listing.price).toLocaleString("en-IN") : "N/A" %></b> Night</i> 
                        <i class="tax-info"><b>&#8377; <%= listing.price ? (listing.price + listing.price * 18 / 100).toLocaleString("en-IN") : "N/A" %></b> Night</i>
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>
